@import "compass"; // Helps set up a vertical rhythm.

/* Mixins */
$blue: #007AAA;

/* Mixins */

@mixin box($color, $background) {
  color: $color;
  background: $background;
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  @include box-shadow(5px);
  @include text-shadow(1px);
  @include border-radius(10px);
  @include opacity(.9);
}